@import '../base/variables';
@import '../base/listas';



.header__asesoria{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    ), url(../assets/asesoria/asesoria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .hero__asesoria{
        .container-fluid{
            .hero__asesoria-text--container{
              height: 70vh;
                  .col-12{
                    .hero__asesoria-title{
                      font-size: nth($size, 7);
                      color: $color-primary;
                      font-family: $font-primary-bold;
                      text-align: center;
                    }  
                  }
                } 
            }
        }
}