@import '../base/variables';
@import '../base/listas';


.main__inicio{
    background-color: $bg-color;
    overflow: hidden;
    .main__inicio-info{
        border-top: 2px solid $color-secondary;
        border-bottom: 2px solid $color-secondary;
        .main__info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 15px;
            .main__info-img{
                margin-top: 20px;
                width: 6rem;
                height: 6rem;
            }
            .main__info-text{
                margin-top: 10px;
                text-align: center;
                font-family: $font-primary-bold;
                font-size: 1rem;
            }
        }
    }
    .about__container{
        margin-top: 100px;
        .about{
            .about__uno-img{
                .about__img-container{
                    .about__img{
                        min-height: 500px;
                        max-height: 650px;
                        min-width: 100%;
                        max-width: 100%;
                        border-radius: 50px;
                        object-fit: cover;
                    }
                }
            }
            .about__uno-text{
                .about__text1{
                    color: $color-secondary;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    min-height: 50%;
                    max-height: 100%;
                    border-bottom: 1px solid $color-secondary;
                    .about__title{
                        font-size: nth($size, 6);
                        font-family: $font-primary-bold;
                    }
                    .about__paragraph{
                        font-size: nth($size, 2);
                        font-family: $font-primary;
                    }
                }
                .about__text2{
                    padding-top: 25px;
                    padding-bottom: 50px;
                    .about__subtitle{
                        font-size: 1rem;
                        font-family: $font-primary-bold;
                        width: 100%;
                    }
                    .about__paragraph{
                        font-size: nth($size, 2);
                        font-family: $font-primary;
                    }
                }
            }
        }
    }
    .container{
        .about{
            .about__dos-text{
                .about__text3{
                    color: $color-secondary;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    min-height: 50%;
                    max-height: 100%;
                    border-bottom: 1px solid $color-secondary;
                    .about__subtitle{
                        font-size: 1rem;
                        font-family: $font-primary-bold;
                        width: 100%;
                    }
                    .about__paragraph{
                        font-size: nth($size, 2);
                        font-family: $font-primary;
                    }
                }
                .about__text4{
                    color: $color-secondary;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    min-height: 50%;
                    max-height: 100%;
                    padding-top: 25px;
                    padding-bottom: 50px;
                    .about__subtitle{
                        font-size: 1rem;
                        font-family: $font-primary-bold;
                        width: 100%;
                    }
                    .about__paragraph{
                        font-size: nth($size, 2);
                        font-family: $font-primary;
                    }
                }
            }
            .about__dos-img{
                .about__img-container{
                    .about__img{
                        min-height: 500px;
                        max-height: 650px;
                        min-width: 100%;
                        max-width: 100%;
                        border-radius: 50px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

